/* COMMON */
html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img { 
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.ms_card {
    overflow: hidden;
    border-radius: 15px;
}

.ms_subtitle {
    font-size: 1rem;
    color: #8f8f8f;
    font-weight: bolder;
}

.no-limits {
    color: #0070D1;
    font-weight: bolder;
}
/* NAV */

/* nav top */

.ms_nav-top {
    height: 40px;
    background-color: black;
}

 .ms_nav-top  img {
    width: 4rem;
}

/* burger */
#ms_nav_burger {
    font-size: 2rem;
    padding: 0 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #737373;
}

/* nav bot */

.ms_nav-bot img {
    width: 4rem;
}

.ms_nav-bot {
    background-color: white;
    height: 4rem;
    line-height: 4rem;
}

.ms_nav-dx ul,
.ms_nav-sx ul {
    list-style: none;
    padding: 0;
}

.ms_nav_extend_dx li,
.ms_nav-sx li {
    display: inline-block;
    padding-right: 1rem;
}

.ms_nav-dx li img,
.ms_nav-sx li img{
    width: 0.5rem;
}

.ms_nav-dx a,
.ms_nav-sx a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: .9rem;
}


/* JUMBOTRON */

.ms_jumbotron {
   
    padding-top: 25rem;
    background-position: center;
    background-image: url(../img/jumbo-bg.png);
}

.logo-jumbo {
    width: 15rem;
}


.ms_title{
    font-size: 2.5rem;
}


.ms_card-gallery img {
    width: 8rem;
}

.ms_jumbotron-2 {
    padding: 5rem;
    background-position: center;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* section new exit */

.new-exit {
    background-color: #1f1f1f;
}

.ms_subtitle-new {
    font-size: 1rem;
    font-weight: bolder;
}